/* Pied de page */
footer {
    background: #ffffff;
    /* Fond gris clair */
    text-align: center;
    /* Centre le texte horizontalement */
    padding: 20px;
    /* Ajoute de l’espace intérieur */
}